*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
body{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.app form{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.app{
    width: 250px;
}
ul.todo-list li{
    display: flex;
    justify-content: space-between;
}